<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("a28e071e-4094-4bbe-9fcb-0e4db1927be6");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
