DSL/DevOpsDsl/DslPackage/bin/Debug/extension.vsixmanifest
DSL/DevOpsDsl/DslPackage/bin/Debug/MessagePack.Annotations.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/MessagePack.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.Bcl.AsyncInterfaces.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.Build.Framework.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.Build.Framework.pdb
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.ServiceHub.Client.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.ServiceHub.Framework.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.ServiceHub.Resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.VisualStudio.CoreUtility.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.VisualStudio.GraphModel.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.VisualStudio.Interop.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.VisualStudio.Modeling.Sdk.Diagrams.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.VisualStudio.Modeling.Sdk.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.VisualStudio.Modeling.Sdk.Shell.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.VisualStudio.RemoteControl.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.VisualStudio.RpcContracts.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.VisualStudio.Shell.Framework.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.VisualStudio.Telemetry.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.VisualStudio.Text.Data.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.VisualStudio.TextTemplating.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.VisualStudio.TextTemplating.Interfaces.10.0.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.VisualStudio.TextTemplating.Interfaces.11.0.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.VisualStudio.TextTemplating.Interfaces.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.VisualStudio.TextTemplating.Modeling.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.VisualStudio.TextTemplating.VSHost.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.VisualStudio.Threading.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.VisualStudio.Utilities.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.VisualStudio.Utilities.Internal.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.VisualStudio.Validation.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Microsoft.Win32.Registry.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Nerdbank.Streams.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Nerdbank.Streams.pdb
DSL/DevOpsDsl/DslPackage/bin/Debug/Newtonsoft.Json.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/StreamJsonRpc.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/System.Buffers.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/System.Collections.Immutable.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/System.Diagnostics.DiagnosticSource.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/System.IO.Pipelines.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/System.Memory.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/System.Numerics.Vectors.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/System.Security.AccessControl.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/System.Security.Principal.Windows.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/System.Threading.AccessControl.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/System.Threading.Tasks.Dataflow.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/System.Threading.Tasks.Extensions.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Variamos.DevOpsDsl.Dsl.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Variamos.DevOpsDsl.Dsl.pdb
DSL/DevOpsDsl/DslPackage/bin/Debug/Variamos.DevOpsDsl.DslPackage.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/Variamos.DevOpsDsl.DslPackage.pdb
DSL/DevOpsDsl/DslPackage/bin/Debug/Variamos.DevOpsDsl.DslPackage.pkgdef
DSL/DevOpsDsl/DslPackage/bin/Debug/Variamos.DevOpsDsl.DslPackage.vsix
DSL/DevOpsDsl/DslPackage/bin/Debug/CSharp/1033/DevOpsDsl.zip
DSL/DevOpsDsl/DslPackage/bin/Debug/GeneratedCode/DevOpsDslSchema.xsd
DSL/DevOpsDsl/DslPackage/bin/Debug/VisualBasic/1033/DevOpsDsl.zip
DSL/DevOpsDsl/DslPackage/bin/Debug/cs/Microsoft.ServiceHub.Framework.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/cs/Microsoft.ServiceHub.Resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/cs/Microsoft.VisualStudio.Threading.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/cs/Microsoft.VisualStudio.Utilities.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/cs/Microsoft.VisualStudio.Validation.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/cs/StreamJsonRpc.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/de/Microsoft.ServiceHub.Framework.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/de/Microsoft.ServiceHub.Resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/de/Microsoft.VisualStudio.Threading.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/de/Microsoft.VisualStudio.Utilities.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/de/Microsoft.VisualStudio.Validation.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/de/StreamJsonRpc.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/en/Microsoft.VisualStudio.Utilities.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/es/Microsoft.ServiceHub.Framework.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/es/Microsoft.ServiceHub.Resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/es/Microsoft.VisualStudio.Threading.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/es/Microsoft.VisualStudio.Utilities.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/es/Microsoft.VisualStudio.Validation.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/es/StreamJsonRpc.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/fr/Microsoft.ServiceHub.Framework.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/fr/Microsoft.ServiceHub.Resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/fr/Microsoft.VisualStudio.Threading.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/fr/Microsoft.VisualStudio.Utilities.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/fr/Microsoft.VisualStudio.Validation.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/fr/StreamJsonRpc.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/it/Microsoft.ServiceHub.Framework.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/it/Microsoft.ServiceHub.Resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/it/Microsoft.VisualStudio.Threading.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/it/Microsoft.VisualStudio.Utilities.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/it/Microsoft.VisualStudio.Validation.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/it/StreamJsonRpc.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/ja/Microsoft.ServiceHub.Framework.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/ja/Microsoft.ServiceHub.Resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/ja/Microsoft.VisualStudio.Threading.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/ja/Microsoft.VisualStudio.Utilities.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/ja/Microsoft.VisualStudio.Validation.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/ja/StreamJsonRpc.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/ko/Microsoft.ServiceHub.Framework.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/ko/Microsoft.ServiceHub.Resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/ko/Microsoft.VisualStudio.Threading.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/ko/Microsoft.VisualStudio.Utilities.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/ko/Microsoft.VisualStudio.Validation.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/ko/StreamJsonRpc.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/pl/Microsoft.ServiceHub.Framework.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/pl/Microsoft.ServiceHub.Resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/pl/Microsoft.VisualStudio.Threading.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/pl/Microsoft.VisualStudio.Utilities.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/pl/Microsoft.VisualStudio.Validation.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/pl/StreamJsonRpc.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/pt/Microsoft.VisualStudio.Utilities.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/pt-BR/Microsoft.ServiceHub.Framework.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/pt-BR/Microsoft.ServiceHub.Resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/pt-BR/Microsoft.VisualStudio.Threading.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/pt-BR/Microsoft.VisualStudio.Validation.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/pt-BR/StreamJsonRpc.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/ru/Microsoft.ServiceHub.Framework.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/ru/Microsoft.ServiceHub.Resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/ru/Microsoft.VisualStudio.Threading.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/ru/Microsoft.VisualStudio.Utilities.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/ru/Microsoft.VisualStudio.Validation.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/ru/StreamJsonRpc.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/tr/Microsoft.ServiceHub.Framework.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/tr/Microsoft.ServiceHub.Resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/tr/Microsoft.VisualStudio.Threading.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/tr/Microsoft.VisualStudio.Utilities.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/tr/Microsoft.VisualStudio.Validation.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/tr/StreamJsonRpc.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/zh-Hans/Microsoft.ServiceHub.Framework.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/zh-Hans/Microsoft.ServiceHub.Resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/zh-Hans/Microsoft.VisualStudio.Threading.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/zh-Hans/Microsoft.VisualStudio.Utilities.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/zh-Hans/Microsoft.VisualStudio.Validation.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/zh-Hans/StreamJsonRpc.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/zh-Hant/Microsoft.ServiceHub.Framework.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/zh-Hant/Microsoft.ServiceHub.Resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/zh-Hant/Microsoft.VisualStudio.Threading.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/zh-Hant/Microsoft.VisualStudio.Utilities.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/zh-Hant/Microsoft.VisualStudio.Validation.resources.dll
DSL/DevOpsDsl/DslPackage/bin/Debug/zh-Hant/StreamJsonRpc.resources.dll
DSL/DevOpsDsl/Dsl/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
DSL/DevOpsDsl/Dsl/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DSL/DevOpsDsl/Dsl/obj/Debug/Dsl.csproj.FileListAbsolute.txt
DSL/DevOpsDsl/Dsl/obj/Debug/T4Transform.read.1.tlog
DSL/DevOpsDsl/Dsl/obj/Debug/T4Transform.read.42.tlog
DSL/DevOpsDsl/Dsl/obj/Debug/T4Transform.write.1.tlog
DSL/DevOpsDsl/Dsl/obj/Debug/T4Transform.write.42.tlog
DSL/DevOpsDsl/Debugging/.vs/Debugging/FileContentIndex/e55d073d-34fe-47e9-a25b-90123afcfd9f.vsidx
DSL/DevOpsDsl/Debugging/.vs/Debugging/FileContentIndex/read.lock
DSL/DevOpsDsl/DslPackage/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
DSL/DevOpsDsl/DslPackage/obj/Debug/Commands.cto
DSL/DevOpsDsl/DslPackage/obj/Debug/createTemplateManifests.cache
DSL/DevOpsDsl/DslPackage/obj/Debug/ctoFiles.json
DSL/DevOpsDsl/DslPackage/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DSL/DevOpsDsl/DslPackage/obj/Debug/DslPackage.csproj.AssemblyReference.cache
DSL/DevOpsDsl/DslPackage/obj/Debug/DslPackage.csproj.CopyComplete
DSL/DevOpsDsl/DslPackage/obj/Debug/DslPackage.csproj.CoreCompileInputs.cache
DSL/DevOpsDsl/DslPackage/obj/Debug/DslPackage.csproj.FileListAbsolute.txt
DSL/DevOpsDsl/DslPackage/obj/Debug/DslPackage.csproj.GenerateResource.cache
DSL/DevOpsDsl/DslPackage/obj/Debug/DslPackage.csproj.VsixDeployedFileListAbsolute.txt
DSL/DevOpsDsl/DslPackage/obj/Debug/DslPackage.GeneratedMSBuildEditorConfig.editorconfig
DSL/DevOpsDsl/DslPackage/obj/Debug/extension.vsixmanifest
DSL/DevOpsDsl/DslPackage/obj/Debug/files.json
DSL/DevOpsDsl/DslPackage/obj/Debug/FirstBuild.cache
DSL/DevOpsDsl/DslPackage/obj/Debug/mergeCto.cache
DSL/DevOpsDsl/DslPackage/obj/Debug/resources.json
DSL/DevOpsDsl/DslPackage/obj/Debug/T4Transform-CreatePkgDef.read.1.tlog
DSL/DevOpsDsl/DslPackage/obj/Debug/T4Transform-CreatePkgDef.write.1.tlog
DSL/DevOpsDsl/DslPackage/obj/Debug/T4Transform-VsixUtil.21376.read.1.tlog
DSL/DevOpsDsl/DslPackage/obj/Debug/T4Transform-VsixUtil.21376.write.1.tlog
DSL/DevOpsDsl/DslPackage/obj/Debug/T4Transform-VsixUtil.read.1.tlog
DSL/DevOpsDsl/DslPackage/obj/Debug/T4Transform-VsixUtil.write.1.tlog
DSL/DevOpsDsl/DslPackage/obj/Debug/T4Transform.read.0.tlog
DSL/DevOpsDsl/DslPackage/obj/Debug/T4Transform.read.1.tlog
DSL/DevOpsDsl/DslPackage/obj/Debug/T4Transform.read.42.tlog
DSL/DevOpsDsl/DslPackage/obj/Debug/T4Transform.read.45.tlog
DSL/DevOpsDsl/DslPackage/obj/Debug/T4Transform.write.0.tlog
DSL/DevOpsDsl/DslPackage/obj/Debug/T4Transform.write.1.tlog
DSL/DevOpsDsl/DslPackage/obj/Debug/T4Transform.write.42.tlog
DSL/DevOpsDsl/DslPackage/obj/Debug/T4Transform.write.45.tlog
DSL/DevOpsDsl/DslPackage/obj/Debug/templateFiles.json
DSL/DevOpsDsl/DslPackage/obj/Debug/Variamos.DevOpsDsl.DslPackage.dll
DSL/DevOpsDsl/DslPackage/obj/Debug/Variamos.DevOpsDsl.DslPackage.latest.pkgdef
DSL/DevOpsDsl/DslPackage/obj/Debug/Variamos.DevOpsDsl.DslPackage.pdb
DSL/DevOpsDsl/DslPackage/obj/Debug/Variamos.DevOpsDsl.DslPackage.pkgdef
DSL/DevOpsDsl/DslPackage/obj/Debug/VSCT.read.1.tlog
DSL/DevOpsDsl/DslPackage/obj/Debug/VSCT.write.1.tlog
DSL/DevOpsDsl/DslPackage/obj/Debug/VSPackage.resources
DSL/DevOpsDsl/DslPackage/obj/Debug/VSPackage.resources.original
DSL/DevOpsDsl/DslPackage/obj/Debug/ItemTemplates/CSharp/1033/DevOpsDsl/CSharp.vstemplate
DSL/DevOpsDsl/DslPackage/obj/Debug/ItemTemplates/CSharp/1033/DevOpsDsl/DevOpsDsl.DevOpsDsl
DSL/DevOpsDsl/DslPackage/obj/Debug/ItemTemplates/CSharp/1033/DevOpsDsl/DevOpsDsl.diagram
DSL/DevOpsDsl/DslPackage/obj/Debug/ItemTemplates/VisualBasic/1033/DevOpsDsl/DevOpsDsl.DevOpsDsl
DSL/DevOpsDsl/DslPackage/obj/Debug/ItemTemplates/VisualBasic/1033/DevOpsDsl/DevOpsDsl.diagram
DSL/DevOpsDsl/DslPackage/obj/Debug/ItemTemplates/VisualBasic/1033/DevOpsDsl/VisualBasic.vstemplate
DSL/DevOpsDsl/DslPackage/obj/Debug/TemplateManifests/templateManifest0.1033.vstman
DSL/DevOpsDsl/DslPackage/obj/Release/FirstBuild.cache
DSL/DevOpsDsl/DslPackage/obj/x86/Debug/FirstBuild.cache
DSL/DevOpsDsl/DslPackage/obj/x86/Release/FirstBuild.cache
DSL/DevOpsDsl/Debugging/.vs/Debugging/FileContentIndex/6fdf8637-79c0-44b0-92d0-ee42dcc3603f.vsidx
DSL/DevOpsDsl/Debugging/.vs/Debugging/FileContentIndex/d1e862eb-af1e-4292-b0ae-c64c077cc380.vsidx
DSL/DevOpsDsl/Debugging/.vs/Debugging/v17/.suo
DSL/DevOpsDsl/Debugging/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
DSL/DevOpsDsl/Debugging/obj/Debug/Debugging.csproj.AssemblyReference.cache
DSL/DevOpsDsl/Debugging/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DSL/DevOpsDsl/.vs/DevOpsDsl/FileContentIndex/64836d69-28bb-4a2e-ac5a-a0577141fa34.vsidx
DSL/DevOpsDsl/.vs/DevOpsDsl/FileContentIndex/read.lock
DSL/DevOpsDsl/.vs/DevOpsDsl/v17/.suo
DSL/DevOpsDsl/Debugging/.vs/Debugging/FileContentIndex/b0b3fa50-e1f2-4b55-962a-10d3ea1b93ab.vsidx
DSL/DevOpsDsl/Debugging/.vs/Debugging/FileContentIndex/d5d1c0ca-947e-4d32-9672-46882f49e3e2.vsidx
DSL/DevOpsDsl/DslPackage/obj/Debug/T4Transform.read.29.tlog
DSL/DevOpsDsl/DslPackage/obj/Debug/T4Transform.write.29.tlog
